::-webkit-scrollbar-track-piece{
   background: -webkit-gradient(linear,right top,left bottom,
		from(#fee0db),color-stop(0.6,#ffbcc6),to(#ffbcc6));
   -webkit-border-radius:0;
}
::-webkit-scrollbar{
   width:10px;
}
::-webkit-scrollbar-thumb{
   background-color: #ffbcc6;
   -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
   background-color: #fc8293;
}

#game-all-screen{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #feb6bd;
	background: -webkit-gradient(linear,left top,left bottom,
		from(#fedfdc),color-stop(0.6,#febfc3),to(#feb6bd));
	background: -moz-linear-gradient(top, #fedfdc, #feb6bd);
}
#game-game-screen{
	width: 1024px;
	height: 768px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -384px 0 0 -512px;
	background-image: url(../../img/game_all.png);
	overflow: hidden;
}
.game-all-image{
	background: url(../../img/game_pieces.png);
}
.game-all-btn{
	background: #ff3385;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	text-align: center;
	font-weight: 900;
	color: #fff;
	cursor: pointer;
	opacity: 0.7;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
	border:none;
}
.game-all-btn:hover{
	opacity: 1;
}

/*全屏提示框*/
.game-fullscreen-notice{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
}
.game-notice{
	width: 386px;
	height: 421px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -213px;
	margin-left: -195px;
	background: #fbf6d8;
	border: 2px solid #fc90ac;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	color: #ff3385;
}
.game-notice h1{
	font-size: 45px;
	line-height: 60px;
}
.game-notice-img{
	width: 100%;
	height: 225px;
}
.game-success-notice .game-notice-img{
	background-position: 0 -210px;
}
.game-fail-notice .game-notice-img{
	background-position: 0 -891px;
}
.game-alert-notice .game-notice-img-boy{
	background-position: 0 -437px;
}
.game-alert-notice .game-notice-img-girl{
	background-position: 0 -664px;
}
.game-notice-text{
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
}
.game-fail-notice .game-notice-text,.game-alert-notice .game-notice-text{
	font-size: 22px;
	line-height: 70px;
}
.game-notice-back{
	width: 50px;
	height: 35px;
	margin: -10px 0 0 300px;
	font-size: 30px;
	line-height: 35px;
}
.game-notice-back:active{
	width: 46px;
	height: 31px;
	margin: -8px 0 0 302px;
	font-size: 26px;
	line-height: 31px;
}

/*输入框*/
#game-input-box{
	width: 370px;
	height: 250px;
	position: absolute;
	margin-left: 10px;
	background: rgba(253,199,205,0.7);
	text-align: center;
}
#game-talk-input{
	width: 300px;
	height: 206px;
	margin: 2px 0;
	padding: 10px;
	background: #fae1e2;
	border: 10px solid #feadb5;
	font-size: 30px;
	color: #ff3385;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#game-input:focus{
	background: #fff;
}
.game-submit-btn{
	width: 60px;
	height: 45px;
	position: absolute;
	margin: 210px 0 0 -50px;
	line-height: 45px;
	line-height: 45px;
	font-size: 40px;
	opacity: 0.7;
}
.game-submit-btn:hover{
	opacity: 1;
}
.game-submit-btn:active{
	width: 56px;
	height: 41px;
	font-size: 36px;
	line-height: 41px;
	margin: 212px 0 0 -48px;
}

/*房间编号*/
#game-room-title{
	width: 175px;
	height: 50px;
	float: right;
	margin: 50px 100px 0 0;
	background: #ffecef;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
	color: #ff3385;
}
/*开始按钮*/
.game-start-btn{
	width: 125px;
	height: 40px;
	position: absolute;
	top: 70px;
	left: 100px;
	font-size: 30px;
	font-weight: normal;
	border:none;
}
.game-start-btn:active{
	width: 121px;
	height: 36px;
	top: 72px;
	left: 102px;
	font-size: 28px;
}
/*退出按钮*/
.game-quit-btn{
	width: 130px;
	height: 40px;
	position: absolute;
	bottom: 0px;
	right: 10px;
	padding-left: 20px;
	border: 10px;
	background: #fc8293;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border-bottom: 5px solid #fff;
	line-height: 45px;
	font-size: 30px;
	font-weight: bolder;
	color: #fff;
	letter-spacing: 5px;
	cursor: pointer;
	opacity: 0.7;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
#game-plane{
	width: 75px;
	height: 75px;
	float: right;
	margin: -72px 0 0;
	background-position: 0 -1420px;
}
.game-quit-btn:hover{
	opacity: 1;
}

/*最底下的提示*/
.game-bottom-tips{
	position: absolute;
	bottom: 40px;
	left: 10px;
	color: #fff;
	font-size: 20px;
}

/*星座*/
.game-zodiac-box{
	width: 100px;
	height: 85px;
	margin: 10px auto;
	cursor: pointer;
}
/*星座*/
.game-zodiac-match{
	-webkit-animation: shine 1.5s linear infinite;
	-moz-animation: shine 1.5s linear infinite;
	-o-animation: shine 1.5s linear infinite;
	animation: shine 1.5s linear infinite;
}
@-webkit-keyframes shine{
	0% {-webkit-box-shadow: 0 0 30px rgba(0,0,0,0);}
	50% {-webkit-box-shadow: 0 0 30px #fff46b;}
	100% {-webkit-box-shadow: 0 0 30px rgba(0,0,0,0);}
}
@-moz-keyframes shine{
	0% {-moz-box-shadow: 0 0 30px rgba(0,0,0,0);}
	50% {-moz-box-shadow: 0 0 30px #fff46b;}
	100% {-moz-box-shadow: 0 0 30px rgba(0,0,0,0);}
}
@-o-keyframes shine{
	0% {-o-box-shadow: 0 0 30px rgba(0,0,0,0);}
	50% {-o-box-shadow: 0 0 30px #fff46b;}
	100% {-o-box-shadow: 0 0 30px rgba(0,0,0,0);}
}
@keyframes shine{
	0% {box-shadow: 0 0 30px rgba(0,0,0,0);}
	50% {box-shadow: 0 0 30px #fff46b;}
	100% {box-shadow: 0 0 30px rgba(0,0,0,0);}
}
.zodiac-num-0{
	background-position: -388px 0px;
}
.zodiac-num-1{
	background-position: -388px -87px;
}
.zodiac-num-2{
	background-position: -388px -174px;
}
.zodiac-num-3{
	background-position: -388px -261px;
}
.zodiac-num-4{
	background-position: -388px -348px;
}
.zodiac-num-5{
	background-position: -388px -435px;
}
.zodiac-num-6{
	background-position: -388px -522px;
}
.zodiac-num-7{
	background-position: -388px -609px;
}
.zodiac-num-8{
	background-position: -388px -696px;
}
.zodiac-num-9{
	background-position: -388px -783px;
}
.zodiac-num-10{
	background-position: -388px -870px;
}
.zodiac-num-11{
	background-position: -388px -957px;
}
.game-zodiac-intro{
	width: 280px;
	height: 130px;
	position: absolute;
	margin: -150px 0 0 15px;
	padding: 10px;
	background: rgba(254,239,212,0.7);
	border: 2px solid #fd9aae;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #ff3385;
	display: none;
}
.zodiac-intro-text{

	width: 280px;
	height: 110px;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 0px;
	overflow: hidden;
}
.game-zodiac-box:hover .game-zodiac-intro{
	display: block;
}
.zodiac-tail-border{
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	margin: 0 0 -29px 50px;
	border-top: 29px solid #fd9aae; 
	border-right: 29px solid transparent;     
}
.zodiac-tail{
	width: 0;
	height: 0;
	margin: -29px 0 0 2px;
	border-top: 24px solid rgba(254,239,212,0.7);; 
	border-right: 24px solid transparent;     
}
.zodiac-intro-side{
	margin: -150px 0 0 -240px;
}
.zodiac-intro-side .zodiac-tail-border{
	margin: 0 0 -29px 200px;
	border-right: none;
	border-left: 29px solid transparent;
}
.zodiac-intro-side .zodiac-tail{
	margin: -29px 0 0 -26px;
	border-right: none;
	border-left: 24px solid transparent;
}
.zodiac-match-notice{
	width: 380px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -212px 0 0 -202px;
	padding: 10px;
	border: 2px solid #febcc8;
	background: #ffefd6;
	-webkit-box-shadow: 0 0 5px #febcc8;
	-moz-box-shadow: 0 0 5px #febcc8;
	-o-box-shadow: 0 0 5px #febcc8;
	box-shadow: 0 0 5px #febcc8;
	color: #ff3385;
	text-align: center;
	font-size: 20px;
	line-height: 80px;
}
.game-zodiac-intro .game-scroll-btn-up{
	position: absolute;
	margin: -50px 0 0 260px;
}
.game-zodiac-intro .game-scroll-btn-down{
	position: absolute;
	margin: -25px 0 0 260px;
}

/*男生*/
.game-boy-all{
	width: 225px;
	height: 310px;
	margin: 34px 0 0 389px;
}
.game-boy-circle{
	width: 205px;
	height: 205px;
	background: #fff;
	border: 10px solid #fdcec6;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
}
.game-boy-head{
	width: 205px;
	height: 205px;
	background-position: 0 0;
}
.game-boy-name{
	width: 90px;
	height: 30px;
	margin: -30px auto 0 auto;
	background: #ffe6e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	font-size: 25px;
	font-weight: bolder;
	color: #ff3385;
}
/*女生*/
.game-girl-container{
	width: 965px;
	height: 250px;
	margin: 96px 0 0 27px;
}
.game-girl-all{
	width: 180px;
	height: 250px;
	float: left;
	margin-left: 13px;
}
.game-girl-circle{
	width: 166px;
	height: 166px;
	background: #fff;
	border: 7px solid #fdcec6;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
}
.game-girl-head{
	width: 166px;
	height: 166px;
	background-position: -210px 0;
}
.game-girl-name{
	width: 70px;
	height: 25px;
	margin: -18px auto 0 auto;
	background: #ffe6e2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	font-weight: bolder;
	color: #ff3385;
}
/*对话框*/
.game-dialog{
	width: 361px;
	height: 186px;
	position: absolute;
	background: #fffddb;
	border: 2px solid #fda1b1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.game-dialog-text{
	width: 331px;
	height: 176px;
	padding: 5px 15px;
	color: #ff3385;
	font-size: 25px;
	overflow: hidden;
}
.game-boy-dialog{
	margin: -100px 0 0 200px;
}
.game-boy-dialog .dialog-tail-border{
	width: 0;
    height: 0;
    margin: -120px 0 0 -36px;
    border-top: 24px solid #fda1b1; 
    border-left: 36px solid transparent;
}
.game-boy-dialog .dialog-tail{
	width: 0;
    height: 0;
    margin: -22px 0 0 -30px;
    border-top: 20px solid #fffddb; 
    border-left: 30px solid transparent;
}
.game-girl-dialog{
	width: 240px;
	height: 156px;
	margin: -350px 0 0 -35px;
}
.game-girl-dialog .game-dialog-text{
	width: 210px;
	height: 146px;
	font-size: 19px;
}
.game-girl-dialog .dialog-tail-border{
	width: 0;
    height: 0;
    margin: 0 0 0 150px;
    border-top: 24px solid #fda1b1; 
    border-left: 24px solid transparent;
}
.game-girl-dialog .dialog-tail{
	width: 0;
    height: 0;
    position: absolute;
    margin: -24px 0 0 -22px;
    border-top: 20px solid #fffddb;
    border-left: 20px solid transparent;
}
.game-girl-dialog-side .dialog-tail-border{
	width: 0;
    height: 0;
    margin: -100px 0 0 361px;
    border-bottom: 24px solid #fda1b1; 
    border-left: none;
    border-right: 36px solid transparent;
}
.game-girl-dialog-side .dialog-tail{
	width: 0;
    height: 0;
    position: absolute;
    margin: 2px 0;
    border-bottom: 20px solid #fffddb; 
    border-left: none;
    border-right: 30px solid transparent;
}
/*上下箭头*/
.game-scroll-btn{
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	opacity: 0.6;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
	cursor: pointer;
}
.game-scroll-btn:hover{
	opacity: 1;
}
.game-scroll-btn-up{
	margin: 120px 0 0 330px;
	border-bottom: 20px solid #ff3385;
}
.game-scroll-btn-down{
	margin: 150px 0 0 330px;	
	border-top: 20px solid #ff3385;	
}

/*灯泡*/
.light-bulb{
	width: 45px;
	height: 45px;
	float: left;
	margin-left: 40px;
	background-position: 0 -1165px;
	cursor: pointer;
}
.light-bulb-off{
	width: 45px;
	height: 45px;
	float: left;
	margin-left: 40px;
	background-position: 0 -1118px;
}
.name-card-icon{
	width: 55px;
	height: 35px;
	float: right;
	margin: -42px 10px 0 0;
	background-position: 0 -1249px;
	cursor: pointer;
	display: none;
}
.name-card-icon-boy{
	margin: -15px 0 0;
	background-position: 0 -1212px;
}
.game-mv-box{
	width: 650px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -350px 0 0 -350px;
	background: rgba(0,0,0,0.6);
	text-align: center;
	-webkit-border-radius: 20px;
}
.game-mv-content{
	margin-top: 40px;
}
.game-hide-mv-btn{
	width: 70px;
	height: 35px;
	float: right;
	margin: 60px 85px 0 0;
	font-size: 30px;
}
.game-hide-mv-btn:active{
	width: 66px;
	height: 31px;
	margin: 62px 87px 0 0;
	font-size: 27px;
}

.prop-btn{
	width: 50px;
	height: 25px;
	float: right;
	margin: 10px 40px 0 0;
	font-size: 20px;
}
.prop-btn-boy{
	margin: -15px 0 0;
}
.prop-btn:active{
	width: 46px;
	height: 21px;
	font-size: 18px;
	margin: -40px 12px 0 0;
}
.prop-btn-boy:active{
	margin: -13px 2px 0 0;
}
.prop-box{
	width: 285px;
	height: 75px;
	position: absolute;
	margin: -60px 0 0 120px;
	background: #ffeadb;
	border: 2px solid #ff3385;
	display: none;
	opacity: 0;
}
.prop-box-boy{
	margin: -10px 0 0 170px;
}
.prop-box-tail-border{
	width: 0;
	height: 0;
	margin: -21px 0 0 30px;
	border-bottom: 21px solid #ff3385; 
	border-right: 21px solid transparent; 
}
.prop-box-tail{
	width: 0;
	height: 0;
	position: absolute;
	margin: 5px 0 0 2px;
	border-bottom: 16px solid #ffeadb; 
	border-right: 16px solid transparent; 
}
.prop-box4,.prop-box5{
	margin: -60px 0 0 -220px;
}
.prop-box4 .prop-box-tail-border,.prop-box5 .prop-box-tail-border{
	margin: -21px 0 0 230px;
	border-right: none;
	border-left: 21px solid transparent; 
}
.prop-box4 .prop-box-tail,.prop-box5 .prop-box-tail{
	margin: 5px 0 0 -18px;
	border-right: none;
	border-left: 16px solid transparent; 
}
.game-scroll-btn-left{
	width: 0;
	height: 0;
	float: right;
	margin: 10px 40px 5px 0;
	border-top: 10px solid transparent;
	border-right: 20px solid rgba(255,51,133,0.7);
	border-bottom: 10px solid transparent;
	cursor: pointer;
}
.game-scroll-btn-left:hover{
	border-right: 20px solid #ff3385;
}
.game-scroll-btn-right{
	width: 0;
	height: 0;
	float: right;
	margin: -25px 10px 5px 0;
	border-top: 10px solid transparent;
	border-left: 20px solid rgba(255,51,133,0.7);
	border-bottom: 10px solid transparent;
	cursor: pointer;
}
.game-scroll-btn-right:hover{
	border-left: 20px solid #ff3385;
}
.hide-prop-btn{
	width: 40px;
	height: 20px;
	margin: 10px 15px 0 0;
	float: right;
	font-size: 20px;
	font-weight: bolder;
}
.hide-prop-btn:active{
	width: 36px;
	height: 16px;
	margin: 12px 17px 0 0;
	font-size: 16px;
}
.prop-container-outer{
	width: 210px;
	height: 100px;
	margin: 5px;
	float: left;
	overflow: hidden;
}
.prop-item{
	width: 85px;
	height: 65px;
	margin: 0 10px;
	float: left;
	cursor: pointer;
}
.prop-lock{
	background-position: 0 -1286px;
}
.prop-random{
	background-position: 0 -1353px;
}
.prop-item-hint{
	margin: 30px 0 0 0;
	background: #fff;
	color: #ff3385;
	font-size: 15px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.prop-item:hover .prop-item-hint{
	opacity: 1;
}
.game-select-topic{
	width: 600px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -312px 0 0 -312px;
	padding: 10px;
	background: #fbf6d8;
	border: 2px solid #fc90ac;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 15px #fc90ac;
	-moz-box-shadow: 0 0 15px #fc90ac;
	-o-box-shadow: 0 0 15px #fc90ac;
	box-shadow: 0 0 15px #fc90ac;
	color: #ff3385;
	font-size: 28px;
	line-height: 40px;
}
.game-select-topic h1{
	text-align: center;
	font-weight: normal;
	line-height: 80px;
}
.game-form-radio{
	display: none;
}
.game-radio-outer{
	width: 14px;
	height: 14px;
	border: 2px solid #ff3585;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}
.game-radio-selected{
	width: 10px;
	height: 10px;
	margin: 2px;
	background: #ff3585;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: none;
}
.game-topic-submit{
	width: 50px;
	height: 35px;
	float: right;
	margin: 10px 10px 0 0;
	font-size: 30px;
	line-height: 35px;
}
.game-topic-submit:active{
	width: 46px;
	height: 31px;
	margin: 12px 12px 0 2px;
	font-size: 26px;
	line-height: 31px;
}
.game-girl-mv-btn,.game-choose-girl-btn{
	width: 55px;
	height: 30px;
	position: absolute;
	margin: -220px 0 0 -25px;
	font-size: 25px;
}
.game-girl-mv-btn:active,.game-choose-girl-btn:active{
	width: 51px;
	height: 26px;
	margin: -218px 0 0 -23px;
	font-size: 21px;
}
/*对方资料*/
.game-info-notice{
	overflow: hidden;
}
.game-show-info{
	height: 421px;
	overflow: hidden;
}
.game-info-label{
	float: left;
	margin: 35px 0 0 25px;
	font-size: 20px;
	font-weight: bold;
}
.game-info-text{
	width: 200px;
	min-height: 20px;
	margin: 27px 0 0 130px;
	padding: 10px;
	border: 3px solid #ffdbbc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	-webkit-box-shadow: 0 0 20px #ffdbbc;
	-moz-box-shadow: 0 0 20px #ffdbbc;
	-o-box-shadow: 0 0 20px #ffdbbc;
	box-shadow: 0 0 20px #ffdbbc;
	text-align: left;
	font-size: 20px;
}
.game-info-notice .game-scroll-btn-up{
	top: 50%;
	left: 50%;
	margin: 140px 0 0 -190px;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 20px solid rgba(255,51,133,0.7);
}
.game-info-notice .game-scroll-btn-down{
	top: 50%;
	left: 50%;
	margin: 170px 0 0 -190px;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-top: 20px solid rgba(255,51,133,0.7);
}
.game-show-info .game-notice-back{
	margin: 30px 30px 30px 0;
}
.game-show-info .game-notice-back:active{
	margin: 32px 32px 32px 0;
}